@media screen and (max-width: 600px) {
  
}

body {
  margin: 0px; 
  padding: 0px; 
  background-color: #C7DBE6; 
}

.area {
  width: 100%;
  height: 100%;  
  padding:0px;
  margin: 0px;
  display: grid;
}

#header {
  grid-template-columns: 45% 55%; 
  background-color: #A1A8B2;
}

#logo {
  width: 140px; 
  height: 140px;
  grid-column-start: 1; 
  justify-self: end;  
  padding-top: 7px; 
  margin: 0; 
}

#header > h1 {
  color: #364652; 
  font-family: 'Oswald';
  font-weight: 700; 
  font-size: 50px; 
  font-weight: 400; 
  grid-column-start: 2;
  padding-left: 4px; 
  margin: 0;
}

#navbar {  
  background-color: #102336; 
  width: 100%; 
  height: 100px; 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  position: relative; 
}

#page {
  font-family: 'Oswald'; 
  font-style: normal; 
  color: white; 
  font-weight: 700; 
  padding-top: 30px; 
  font-size: 20px; 
  text-align: center; 
  text-decoration: none;
}

#intro {
display: grid; 
grid-template-columns: 1fr 1fr; 
}

#intro-content {
  font-family: 'Oswald'; 
  width: 100%; 
  height: 100%;
  grid-column: 1;
  padding-left: 135px;  
  padding-top: 100px; 
}

#intro-content > h3, #intro-content > h4 {
color: rgb(71, 71, 71); 
font-size: 25px; 
}

#intro-content > a {
color: #102336; 
font-size: 75px; 
font-weight: 600; 
text-decoration: none; 
}

#cover-photo {
float: right; 
width: 100%; 
height: 100%; 
margin: 0; 
padding: 0; 
grid-column: 2; 
}

#links {
display: grid; 
grid-template-columns: 1fr 1fr 1fr;
background-color: #102336; 
}

#caption {
font-family: 'Overpass'; 
color: white;
font-size: 20px; 
font-weight: 600; 
text-decoration: none; 
padding-left: 100px; 
padding-bottom: 50px; 
}

#link {
display: flex; 
flex-direction: column; 
}

#photo {
width: 270px; 
height: 200px;
padding: 50px 100px 20px;   
}

#tour-photo {
width: 330px; 
height: 200px; 
padding: 50px 100px 20px; 
}

#footer {
background-color: rgb(39, 39, 39); 
height: 175px; 
}

#footer > #golflogo {
display: block; 
margin-left: auto; 
margin-right: auto; 
margin-bottom: 20px; 
width: 100px; 
height: 100px; 
}

footer {
color: white; 
text-align: center; 
font-family: 'Overpass'; 
}

